@font-face {
    font-family: OpenSans;
    src: url(./font_family/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./font_family/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: RalewayBold;
    src: url(./font_family/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: ptSerif;
    src: url(./font_family/PT_Serif/PTSerif-Regular.ttf);
}

h1,
h2, 
h3,
header li,
button {
    font-family: Poppins;
}

p,
footer li,
#topContact {
    font-family: OpenSans;
}

#quote {
    font-family: RalewayBold;
}

#number {
    font-family: ptSerif;
}